@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px 134px;
  box-sizing: border-box;
  color: #000000;
  background-color: #FFE17F;
}

.header-container {
  margin-top: -20px;
}

.logo {
  margin-bottom: 30px;
}


.header-top-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search-form {
  width: 517px;
  margin-right: 26px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 497px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navigation-user-link {
  display: block;
  padding: 5px 0;
  font-weight: 400;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.position-left {
  margin: 0;
  margin-right: auto;
}

.navigation-user-item {
  margin-left: 26px;
}


.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;

}

.navigation-list-item {
  margin-right: 45px;
}

.navigation-list  li:last-child {
  margin-right: 0;
}

.navigation-list-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.item-left {
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

  /* Слайдер */

/* .slider-container {
  position: relative;
  top: -50px;
  z-index: 1;

} */

.main-page-promo-slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -153px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.slider-image-container {
  width: 560px;
}

.slider-button-wrapper {
  position: relative;
  left: 30px;
  bottom: 298px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-img-text {
  width: 560px;
  margin-bottom: 44px;
  align-self: flex-end;
}

.slider-number-wrapper {
  position: relative;
  z-index: 0;
  top: 50px;
  text-align: right;
  margin-right: 49px;
}

.promo-text-wrapper {
  position: relative;
  z-index: 1;
}

.slider-number-decoration {
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF
}

.slider-promo-title {
  margin: 0;
  margin-bottom: 29px;
}

.slider-promo-description {
  margin: 0;
  margin-bottom: 50px;
}

.slider-promo-link {
  display: block;
  padding: 10px 5px;
  margin-bottom: 50px;
  width: 220px;
  box-sizing: border-box;
}

.product-features-table {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "price price-2"
    "name name-2";
  gap:12px 20px;
  width: 307px;
  margin: 0;
}

.product-features-description {
  margin: 0;
}

.left-column {
  grid-area: name;
}

.left-column-price {
  grid-area: price;
}

.right-column {
  grid-area: name-2;
}

.right-column-price {
  grid-area: price-2;
}

.product-features-name {
  font-size: 16px;
}


.product-features-description b {
  font-size: 36px;
  font-weight: 400;
  color: #000000;
}

.slider-pagination {
  display: flex;
  margin: 0 auto;
  margin-top: -6px;
  padding: 0;
  list-style-type: none;
}


.main-page-popular-categories {
  margin-top: -153px;
  margin-bottom: 70px;
}

.popular-categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.popular-categories-item {
  width: 160px;
}

.popular-category-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.image-wrapper {
  margin-bottom: 33px;
  height: 160px;
  background-color:#FFE17F;
}

.popular-categories-list span {
  display: block;
  min-height: 60px;
}

.main-page-servises {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.servises-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-right: 63px;
  box-sizing: border-box;
}

.services-buttons-wrapper {
  margin: 64px 0 65px;
  padding: 0;
  list-style-type: none;
  width: 287px;
  margin-right: 116px;
  box-sizing: border-box;
}

.buttons-wrapper-item {
  margin-bottom: 35px;
}

.services-controls-button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
  width: 160px;
  box-sizing: border-box;
  border: 0;
}

.button-current {
  width: 280px;
  text-align: center;
  padding-right: 120px;
  padding-top: 9px;
  padding-bottom: 11px;
  box-sizing:border-box;
}

.services-buttons-wrapper li:last-child {
  margin-bottom: 0;
}

.services-description-list {
  margin: 0;
  margin-top:auto;
  margin-bottom:auto;
  padding: 0;
  width: 452px;
  box-sizing: border-box;
}

.services-description-title {
  margin-bottom: 34px;
}

.services-description {
  margin: 0;
}

.main-page-delivery-order {
  background-color: #F0F0F0;
  width: 1160px;
}

.delivery-link {
  display: block;
  margin-bottom: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}


.delivery-text {
  margin: 0;
  font-size: 20px;
}


.index-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 47px;
}

.company-section-title {
  margin: 0;
  margin-bottom: 47px;
}

.main-page-about-company {
  width: 520px;
  padding-right: 23px;
  box-sizing: border-box;
}

.about-company {
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 532px;
  box-sizing: border-box;
}

.about-company-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 34px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000000;
}

.about-company-list-item {
  margin-bottom: 19px;
}

.about-company-list li:last-child {
  margin-bottom: 0;
}

.about-company-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 270px;
  box-sizing: border-box;

}

.contacts-title {
  margin: 0 0 48px;
  color: #000000;
}

.contacts-text {
  margin: 0 0 30px;
}

.contacts-subtitle {
  margin: 0 0 15px;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.contacts-link {
  display: block;
  width: 259px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscription-form {
  background-color: #F0F0F0;
}

.subscription-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.subscription-title {
  margin: 64px 252px 144px 0;
  width: 348px;
}

.subscription-top-text {
  margin: 0;
  margin-top: 74px;
  width: 560px;
}

.subscription-bottom-wrapper {
  display: flex;
  margin-bottom: 56px;
  box-sizing: border-box;
}

.subscription-bottom-text {
  margin: 0;
}

.page-footer {
  background-color: #444444;
  color: #F0F0F0;
}

.footer-container {
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
  width: 1160px;
}

.footer-logo-wrapper {
  width: 100%;
  margin-bottom: 35px;
}

.footer-elements-wrapper {
  display: flex;
  justify-content: space-between;
}

/* .footer-left-column {
  width: 239px;
  margin-right: 119px;
} */

.footer-contacts {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-contacts-address {
  width: 239px;
  margin: 0;
}

.footer-center-column {
  width: 454px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}

.footer-navigation-list-item {
  margin-right: 35px;
}

.footer-navigation-list li:nth-child(3n) {
  margin-right: 0;
}

.footer-navigation-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style-type: none;
}

.footer-social-item {
  min-width: 40px;
  min-height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-list li:nth-child(3n) {
  margin-right: 0;
}

.footer-right-column {
  width: 175px;
  align-self: center;
  margin-left: 64px;
}

.footer-contacts-phone {
  display: block;
  margin-bottom: 63px;
  color: inherit;
  text-decoration-line: underline;
}

.htmlacademy-link {
  display: block;
  text-align: right;
}


/* Каталог */

.catalog-header {
  padding-bottom: 20px;
}

.user-name {
  margin-right: 28px;
}

/* Main каталога */

.main-inner {
  font-size: 16px;
  background-color: #F0F0F0;
}

.inner-header {
  background-color: #FFFFFF;
}

.inner-header-container{
  width: 1160px;
  margin: 0 auto;

}

.inner-header-align{
  padding: 35px 60px 34px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.catalog-products {
  display: flex;
}

.catalog-filter-container{
  width: 320px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.catalog-adjustment-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-right-column {
  width: 840px;
}

.sort-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-filter {
  margin: 0;
}

.sort-order {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sort-order-link {
  display: block;
  min-width: 30px;
  min-height: 30px;
}

.products-column {
  padding: 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.control {
  color: #000000;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.catalog-column {
  background-color: #FFFFFF;
}


.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;

}

.product-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content auto;
  row-gap: 32px;
}


.product-card-image {
  object-fit: contain;
}

.product-card-image-link {
  grid-column: 1/ -1;
}

.product-card-title-link {
  grid-column: 1/ 2;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.product-card-price {
  margin-left: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

.show-more {
  text-align: center;
}


.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #F0F0F0;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-link {
  /* min-width: 40px; */
  display: block;
  padding: 10px 15px;
 /*  min-height: 40px; */
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-link-button {
  display: block;
  padding: 25px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
