@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.navigation-user-link  {
  font-weight: 400;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.navigation-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.slider-number-decoration {
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF
}

.slider-promo-title {
font-family: 'Raleway';
font-weight: 800;
font-size: 50px;
line-height: 50px;
}

.slider-promo-description {
  color: #444444;
}

.product-features-name {
  font-size: 16px;
  color: #444444;
}

.product-features-description b {
  font-weight: 400;
  font-size: 36px;
}

.popular-categories-list {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;

}

.popular-category-link {
  color: #000000;
  text-decoration: none;
}

.main-page-servises {
  background-color: #F0F0F0;
}


.services-description-title {
font-family: 'Raleway';
font-weight: 800;
font-size: 50px;
line-height: 50px;
}

.services-description {
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
