@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.navigation-user-link {
  font-weight: 400;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.navigation-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.slider-number-decoration {
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF
}



.slider-promo-description {
  color: #444444;
}

.product-features-name {
  font-size: 16px;
  color: #444444;
}

.product-features-description b {
  font-weight: 400;
  font-size: 36px;
}

.popular-categories-list {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;

}

.popular-category-link {
  color: #000000;
  text-decoration: none;
}

.main-page-servises {
  background-color: #F0F0F0;
}


.services-description {
  color: #444444;
}

.delivery-link {
  display: block;
  background-color: #F0F0F0;
}



.delivery-text {
  font-size: 20px;
}

.about-company {
  color: #444444;
}

.about-company-list {
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.contacts {
  color: #444444;
}

.contacts-title {
  color: #000000;
}

.contacts-address {
  font-style: normal;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.subscription-form {
  background-color: #F0F0F0;
}

.subscription-text {
  color: #444444;
}

.page-footer {
  background-color: #444444;
  color: #F0F0F0;
}

.footer-contacts {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-navigation-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-phone {
  color: inherit;
  text-decoration-line: underline;
}

.main-inner {
  font-size: 16px;
  background-color: #F0F0F0;
}

.inner-header {
  background-color: #FFFFFF;
}

.breadcrumbs {
  line-height: 20px;
}

.catalog-adjustment-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
font-size: 18px;
line-height: 20px;
font-weight: 700;
letter-spacing: -0.02em;
}

.select-control {
font-family: "Rubik",sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
}

.catalog-column {
  background-color: #FFFFFF;
}

.product-card-link {
line-height: 20px;
letter-spacing: -0.02em;
color: inherit;
text-decoration: none;
}

.product-card-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.product-card-price {
font-size: 18px;
line-height: 21px;
font-weight: 400;
text-align: right;
color: #444444;
}

.show-more {
  text-align: center;
}

.pagination {
  background-color: #F0F0F0;
}

.pagination-link {
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}


.pagination-link-button {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
color: #000000;
text-transform: uppercase;
text-decoration: none;
}
