@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");

  font-display: swap;
}

@font-face {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  text-decoration: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}


.button-yellow {
  background-image: url("../images/yellow-block.svg");
  background-repeat: repeat-x;
  background-position: center;
}

.button-yellow:hover {
  background-color: #FFE17F;
}


.button-yellow:active {
  background-color: #FFCC33;
  background-image: none;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .button:focus {
    outline: none;
  }

  .button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.button-yellow:disabled {
  opacity: 0.3;
}

.button-grey-border {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px 134px;
  box-sizing: border-box;
  color: #000000;
  background-color: #FFE17F;
}

.header-container {
  margin-top: -20px;
}

.logo {
  margin-bottom: 30px;
  display: block;
}


.header-top-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.search-form {
  width: 517px;
  margin-right: 26px;
  display: flex;
}

.search-form-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 357px;
  padding: 8px 10px 8px 46px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: none;
  background-color: #FFE17F;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 16px 10px;

}


.search-form-input:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .search-form-input:focus {
    outline: none;
  }

  .search-form-input:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.search-form-input:disabled {
  opacity: 0.3;
}

.search-form-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:disabled {
  opacity: 0.3;
}



.search-form-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  width: 156px;
  padding: 8px 56px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: #FFE17F;
}

.search-form-button:hover  {
  background-color: #000000;
  color: #FFFFFF;
}

.search-form-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-form-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .search-form-button:focus {
    outline: none;
  }

  .search-form-button:focus-visible {
    outline: 2px solid #AF4FFF;

  }
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 497px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user-link {
  display: block;
  font-weight: 400;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.navigation-user-link:hover {
  opacity: 0.8;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .navigation-user-link:focus {
    outline: none;
  }

  .navigation-user-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.navigation-user-item {
  margin-left: 26px;
  padding: 5px 0;
  position: relative;
}

.position-left {
  margin: 0;
  margin-right: auto;
}

.navigation-icon {
  margin-right: 8px;
}

.basket-item {
  margin-left: 18px;
}

.basket-link {
  padding-left: 15px;
  position: relative;
}


.basket-counter {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  z-index: 1;
  min-width: 21px;
  height: 21px;
  padding: 1px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.basket-item:focus-within .popover {
  display: block;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;
}

.navigation-list-item {
  margin-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.navigation-list  li:last-child {
  margin-right: 0;
}

.navigation-list-link {
  display: block;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.navigation-list-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-list-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-list-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .navigation-list-link:focus {
    outline: none;
  }

  .navigation-list-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.item-left {
  margin-right: auto;
  padding: 0;
}

.catalog-icon-wrapper {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #000000;
  z-index: 3;
  background-image: url("../images/header-navigation/plus-1.svg");
  background-repeat:no-repeat;
  background-position: 15px center;
  opacity: 0.3;
}

.catalog-icon-wrapper:hover {
  opacity: 1;
}



.item-left:focus-within  .header-subcatalog{
  visibility: visible;
}

.item-left:focus-within  .catalog-icon-wrapper{
  background-image: url("../images/header-navigation/header-minus.svg");
  background-repeat:no-repeat;
  background-position: 15px center;
}

.catalog-link {
  padding: 15px 65px 15px 0;
  z-index: 3;
}


.header-subcatalog{
  margin: 0;
  width: 1040px;
  list-style-type: none;
  min-height: 120px;
  padding: 30px 60px 27px;
  display: grid;
  grid-template-columns: 222px 182px 192px;
  grid-template-rows: min-content min-content min-content;
  gap: 17px 30px;
  background-color: #FFE17F;
  position: absolute;
  z-index: 2;
  left: -60px;
  visibility: hidden;
}

.subcatalog-item {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
}

.subcatalog-link {
  color: #000000;
  text-decoration: none;
}

.subcatalog-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.subcatalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.subcatalog-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .subcatalog-link:focus {
    outline: none;
  }

  .subcatalog-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.subcatalog-item-position {
  grid-column: 1/ 2;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}


.main-page-promo-slider {
  margin-top: -151px;
  margin-bottom: 70px;
  position: relative;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.slider-image-container {
  width: 560px;
  position: relative;
}

.slider-image {
  display: block;
  object-fit: contain;
}


.fitness-bracelet {
  display: none;
}

.selfie-stick {
  display: none;
}

.slider-button-wrapper {
  position: absolute;
  left: 30px;
  top: 211px;;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-button {
  width: 20px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  background-image: url("../images/sliger-image/slider-button-prev.svg");
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center;
}

.slider-button-next {
  transform: rotate(180deg);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-buttonfocus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .slider-button:focus {
    outline: none;
  }

  .slider-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-img-text {
  width: 560px;
  margin-top: 121px;
  margin-bottom: 38px;
  position: relative;
}



.slider-number-decoration {
  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF;
  position: absolute;
  z-index: -1;
  right: 49px;
  top: -37px;
}

.slider-promo-title {
  margin: 0;
  margin-bottom: 29px;
}

.slider-promo-description {
  margin: 0;
  margin-bottom: 50px;
}

.slider-promo-link {
  display: block;
  padding: 10px 5px;
  margin-bottom: 50px;
  width: 220px;
  box-sizing: border-box;
}


.product-features-table {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas:
    "feature feature-2 feature-3"
    "name name-2 name-3";
  gap:12px 20px;
  min-width: 307px;
  margin: 0;
}

.product-features-description {
  margin: 0;
  height: 30px;
}

.features-name-column {
  grid-area: name;
}

.left-column {
  grid-area: feature;
}

.features-name-column-second {
  grid-area: name-2;
}

.second-column {
  grid-area: feature-2;
}

.features-name-column-third {
  grid-area: name-3;
}

.third-column {
  grid-area: feature-3;
}

.product-features-name {
  font-size: 16px;
}


.product-features-description b {
  font-size: 36px;
  font-weight: 400;
  color: #000000;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  padding: 0;
  list-style-type: none;
  bottom: 0;
  right: 50%;
  transform: translateX(38px);
}

.slider-pagination-item {
  margin-right: 20px;
}

.slider-pagination li:last-child {
  margin-right: 0;
}


.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}

.slider-pagination-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.slider-pagination-button:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.slider-pagination-button:disabled {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.slider-button-current {
  background-color: #000000;
  border: none;
}

.slider-button-current:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}

.slider-button-current:active {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .slider-pagination-button:focus {
    outline: none;
  }

  .slider-pagination-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.second-slider {
  display: none;
}

.third-slider {
  display: none;
}

.main-page-popular-categories {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.popular-categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.popular-categories-item {
  width: 160px;
}

.image-wrapper {
  margin-bottom: 33px;
  height: 160px;
  background-color:#FFE17F;
  position: relative;
}

.popular-categories-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #363636;
}

.monopod-icon {
  top: 43px;
}

.popular-category-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.popular-category-link:hover .image-wrapper {
  background-color:#FFC700;
}

.popular-category-link:active {
  opacity: 0.3;
}

.popular-category-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .popular-category-link:focus {
    outline: none;
  }

  .popular-category-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.popular-category-link-text {
  display: block;
}

.main-page-servises {
  margin-bottom: 70px;
  position: relative;
  padding-bottom: 72px
}

.main-page-servises::after {
  content: "";
  position: absolute;
  top: 102px;
  bottom: 0;
  z-index: -1;
  width: 100%;
  min-height: 100px;
  background-color: #F0F0F0;
}

.servises-container {
  display: flex;
  max-width: 1097px;
  margin: 0 auto;
  position: relative;
  padding-right: 63px;
  padding-bottom: 72px;
}

.guarantee-servise {
  display: none;
}

.credit-servise {
  display: none;
}

.services-buttons-wrapper {
  margin: 0;
  margin-right: 116px;
  padding-left: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  list-style-type: none;
  width: 280px;
  border-right: 7px solid #000000;
  position: absolute;
}

.buttons-wrapper-item {
  margin-bottom: 35px;
}

.services-control-button {
  min-height: 40px;
  width: 160px;
  box-sizing: border-box;
  background-color: transparent;
}


.button-current {
  width: 280px;
  color :#FFE17F;
  text-align: center;
  padding-right: 120px;
  padding-top: 9px;
  padding-bottom: 11px;
  box-sizing:border-box;
  background-color: #000000;
}

.button-current:hover {
  padding-right: 102px;
  padding-left: 35px;
}

.button-current:active {
  padding-right: 102px;
  padding-left: 35px;
}

.button-current:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .button-current:focus {
    outline: none;
  }

  .button-current:focus-visible {
    outline: 2px solid #AF4FFF;
    outline-offset: 3px;
  }
}

.services-buttons-wrapper li:last-child {
  margin-bottom: 0;
}

.services-description-list {
  margin: 0;
  margin-top:72px;
  margin-left: auto;
  padding: 0;
  width: 694px;
  box-sizing: border-box;
  background-image: url("../images/servises-description-item/delivery.svg");
  background-repeat: no-repeat;
  background-size: 136px 167px;
  background-position: 100% 0;
}

.guarantee-description {
  background-image: url("../images/servises-description-item/guarantee.svg");
  background-repeat: no-repeat;
  background-size: 136px 167px;
  background-position: 100% 0;
}

.credit-description{
  background-image: url("../images/servises-description-item/credit-description.svg");
  background-repeat: no-repeat;
  background-size: 136px 167px;
  background-position: 100% 0;
}

.services-description-title {
  margin-bottom: 34px;
}

.services-description {
  margin: 0;
  width: 500px;
}

.guarantee-description {
  display: none;
}

.credit-description {
  display: none;
}


.main-page-delivery-order {
  background-color: #F0F0F0;
  max-width: 1160px;
  margin-bottom: 70px;
}

.delivery-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}



.delivery-block-logo-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 125px;
  background-color: #FFE17F;
}

.delivery-block-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.delivery-text {
  margin: 0;
  font-size: 20px;
}

.i-icon-wrapper {
  height: 40px;
  width: 40px;
  background-color: #DCDCDC80;
  border-radius: 50%;
  position: absolute;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
}

.i-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 0.3);
}

.delivery-link:hover .delivery-block-logo-wrapper {
  background-color: #FFC700;
}

.delivery-link:hover .i-icon {
  fill: rgba(0, 0, 0, 1);
}

.delivery-link:active {
  opacity: 0.3;
}

.delivery-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .delivery-link:focus {
    outline: none;
  }

  .delivery-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.index-column {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  margin-bottom: 72px;
}

.company-section-title {
  margin: 0;
  margin-bottom: 47px;
}

.main-page-about-company {
  max-width: 520px;
  padding-right: 23px;
  box-sizing: border-box;
  position: relative;
}


.title-decoration-line::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: -47px;
}

.about-company {
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  max-width: 532px;
  position: relative;
  padding-right: 18px;
}

.about-company-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 34px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000000;
  list-style-type: none;
  position: relative;
}

.about-company-list-item {
  margin-bottom: 19px;
}

.about-company-list li:last-child {
  margin-bottom: 0;
}

.about-company-list-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  left: 0;
  background-color:#FFC700;
}

.about-company-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 270px;
  box-sizing: border-box;
}

.contacts-title {
  margin: 0 0 48px;
  color: #000000;
}

.contacts-text {
  margin: 0 0 30px;
}

.contacts-subtitle {
  margin: 0 0 15px;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.contacts-phone:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .contacts-phone:focus {
    outline: none;
  }

  .contacts-phone:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.contacts-link {
  display: block;
  width: 259px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscription-form {
  background-color: #F0F0F0;
}

.subscription-container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscription-top-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
  padding-left: 6px;
}

.subscription-title {
  margin: 0;
  width: 348px;
}

.subscription-top-text {
  margin: 0;
  width: 560px;
  padding-top: 8px;
  padding-left: 5px;
  box-sizing: border-box;
}

.subscription-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 557px;
  padding-top: 11px;
  padding-left: 16px;
  padding-bottom: 11px;
  padding-right: 16px;
  align-self: flex-end;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  box-sizing: border-box;
}

 .subscription-input:focus {
  background-color: #DCDCDC;
  outline: none;
 }

 .subscription-input:focus {
  background-color: #DCDCDC;
}

@supports selector(:focus-visible) {

  .subscription-input:focus {
    outline: none;
  }

  .subscription-input:focus-visible {
    background-color: #DCDCDC;
    outline: none;
  }
}


 .subscription-input:disabled {
   opacity: 0.1;
 }


 .subscription-input:invalid {
  border-color: #FF3D3D;
 }

 .subscription-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
 }

.subscription-button {
  background-color: #F0F0F0;
  border: 3px solid #C4C4C4;
  line-height: 21px;
  width: 253px;
  padding-left: 37px;
  padding-right: 37px;
  box-sizing: border-box;
}

.subscription-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);;
  background-color: #000000;
  border: 3px solid #000000;
}

.subscription-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .subscription-button:focus {
    outline: none;
  }

  .subscription-button:focus-visible {
    outline: 2px solid #AF4FFF;
    outline-offset: 3px;
  }
}



.subscription-bottom-wrapper {
  display: flex;
  padding-right: 3px;
  box-sizing: border-box;
  align-items: center;
  max-width: 1160px;
}


.subscription-bottom-text {
  margin: 0;
  margin-left: auto;
  position: relative;
}

.subscription-bottom-text::before {
  content: url("../images/tick-green.svg");
  position: absolute;
  left: -32px;
  top: 2px;
}

.page-footer {
  background-color: #444444;
  color: #F0F0F0;
}

.footer-container {
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
  max-width: 1160px;
}

.footer-logo-wrapper {
  width: 100%;
  margin-bottom: 35px;
}

.footer-logo {
  display: block;
}

.footer-elements-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}


.footer-contacts {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-yellow-line::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  position: absolute;
  top: 104px;
}

.footer-contacts-address {
  width: 239px;
  margin: 0;
}

.footer-center-column {
  width: 444px;
}



.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}


.footer-navigation-list li:nth-child(3n) {
  margin-right: 0;
}

.footer-navigation-list-item {
  padding-top: 3px;
}

.footer-navigation-list-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-bottom: 3px;
  padding-left: 2px;
}

.footer-navigation-list-link:hover{
  color: #FFC700;
  border-bottom: 3px solid #FFC700;
  padding-bottom: 0;
}

.footer-navigation-list-link:active {
  color: #FFC700;
  border-bottom: 3px solid #FFC700;
  opacity: 0.3;
  padding-bottom: 0;
}

.footer-navigation-list-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .footer-navigation-list-link:focus {
    outline: none;
  }

  .footer-navigation-list-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 14px 13px;
  background-color: #FFFFFF4D;
  border-radius: 50px;
  color: #444444;
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;
  position: relative;
}

.social-button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.footer-social-list li:nth-child(3n) {
  margin-right: 0;
}

.social-button:hover {
  background-color: #FFC700;
}

.social-button:active {
  background-color: #FFC700;
}

.social-button:active svg {
  opacity: 0.3;
}

.social-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .social-button:focus {
    outline: none;
  }

  .social-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.footer-right-column {
  width: 175px;
  margin-left: 64px;
  align-self: center;
}

.footer-contacts-phone {
  display: block;
  margin-bottom: 63px;
  color: inherit;
  text-decoration-line: underline;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .footer-contacts-phone:focus {
    outline: none;
  }

  .footer-contacts-phone:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.htmlacademy-link {
  display: block;
  width: 115px;
  margin-left: auto;
}

.htmlacademy-link-icon {
  fill: #FFC700;
}

.htmlacademy-link:hover svg {
  fill: #FFFFFF;
}

.htmlacademy-link:active svg {
  fill: #FFFFFF;
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .htmlacademy-link:focus {
    outline: none;
  }

  .htmlacademy-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal-container-close {
  visibility: hidden;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #FFFFFF;
  width: 760px;
  border: 10px solid #000000;
  box-shadow: 0 10 0 rgba(0, 0, 0, 0.1);
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 75px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .modal-close-button:focus {
    outline: none;
  }

  .modal-close-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-form-label {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
  position: relative;
}

.email-label {
  margin-bottom: 12px;
}

.fild-description {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.delivery-form-field {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 20px;
  border: none;
  background-color: #F0F0F0;
}

.delivery-form-field::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}


.delivery-form-field:hover {
  background-color: #DCDCDC;
}



 .delivery-form-field:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .delivery-form-field:focus {
    outline: none;
  }

  .delivery-form-field:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.delivery-form-field:disabled {
   opacity: 0.3;
 }


 .invalid {
  outline: 2px solid #FF3D3D;
 }


.products-quantity-input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  background-color: #F0F0F0;
  width: 180px;
  height: 60px;
  padding: 0;
  text-align: center;
  align-self:center;
}


.products-quantity-input:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .products-quantity-input:focus {
    outline: none;
  }

  .products-quantity-input:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.products-quantity-input::-webkit-outer-spin-button,
.products-quantity-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.products-quantity-button {
  width: 60px;
  height: 60px;
  border: none;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
}

.modal-button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

}

.minus-icon {
  fill: #000000;
  z-index: 3;
}

.products-quantity-button:hover svg {
  fill:rgba(0, 0, 0, 0.6);
}

.products-quantity-button:active svg {
  fill:rgba(0, 0, 0, 0.3);
}

.products-quantity-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .products-quantity-button:focus {
    outline: none;
  }

  .products-quantity-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}



.more-product {
  right: 0;
}


.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}



.delivery-form {
  display: grid;
  grid-template-columns: 360px 140px 180px;
  grid-template-rows: max-content max-content max-content ;
  gap: 42px 40px;
}

.name-user-group {
  grid-column: 1/ 2;
  grid-row: 1/ 2;
}

.name-icon {
background-image: url("../images/delivery-modal/name-modal.svg");
background-repeat: no-repeat;
background-position: 326px center;
}

.email-group {
  grid-column: 2/ -1;
  grid-row: 1/ 2;
}

.email-icon {
  background-image: url("../images/delivery-modal/email-icon.svg");
  background-repeat: no-repeat;
  background-position: 325px center;
}

.invalid-email {
  border: 2px solid #FF3D3D;
  box-sizing: border-box;
}

.invalid-description {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.description-fild-group {
  grid-column: 1/ 3;
  grid-row: 2/ 3;
}

.products-quantity-group {
  grid-column: 3/ -1;
  grid-row: 2/ 3;
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 3;
  right: 33px;
  top: -12px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: #FFE17F;
  position: relative;
  z-index: 4;
  right: 0;
}

.tooltip-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.tooltip-text {
  width: 164px;
  padding: 19px 17px 21px 19px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  position: absolute;
  left: -148px;
  top: 42px;
  display: none;
}

.tooltip-text::before {
  content: url("../images/basket-popover-decoration.svg");
  position: absolute;
  top: -15px;
  right: 32px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:focus {
  outline: none
}




.send-data {
  grid-column: 1/ 2;
  grid-row: 3/ 4;
  background-color: transparent;
  justify-self: start;
  width: 200px;
}


.catalog-header {
  padding-bottom: 20px;
}

.header-logo:hover svg {
  opacity: 0.8;
}

.header-logo:active svg {
  opacity: 0.3;
}

.header-logo:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .header-logo:focus {
    outline: none;
  }

  .header-logo:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.user-name {
  margin-right: 28px;
}

.exit-button {
  color: rgba(0, 0, 0, 0.6);
}




.main-inner {
  font-size: 16px;
  background-color: #F0F0F0;
}

.inner-header {
  background-color: #FFFFFF;
}

.inner-header-container{
  max-width: 1160px;
  margin: 0 auto;

}

.inner-header-align{
  padding: 35px 60px 34px;
}


.catalog-title {
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-icon::after {
  content: url("../images/breadcrumbs.svg");
  position: absolute;
  right: -16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.breadcrumbs-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.8;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .breadcrumbs-link:focus {
    outline: none;
  }

  .breadcrumbs-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.catalog-products {
  display: flex;
}

.catalog-filter-container{
  width: 320px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}


.catalog-adjustment-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.filter-heading{
  margin-top: 25px;
  margin-bottom: 120px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.range-group {
  margin-bottom: 84px;
}

.range-group::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -62px;
}

.filter-group-color {
  margin-bottom: 70px;
}

.filter-group-color::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -52px;
}

.filter-group-bluetooth {
  margin-bottom: 17px;
}

.filter-group-bluetooth::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -52px;
}

.catalog-filter-title {
  margin-top: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  position: absolute;
  top:-47px;
  left: -3px;
}

.control-mark {
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  box-sizing: border-box;
}


.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 0;
  left: 3px;
  content: url("../images/sort-tick.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}



.control-input[type="checkbox"]:focus  + .control-mark{
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .control-input[type="checkbox"]:focus + .control-mark{
    outline: none;
  }

  .control-input[type="checkbox"]:focus-visible + .control-mark {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
  }
}

.control-mark-bluetooth {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  box-sizing:border-box;
}

.control-input[type="radio"]:checked + .control-mark-bluetooth::before,
.control-input[type="radio"]:checked + .control-mark-bluetooth::after {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 1px;
  left: 2px;
  margin: auto;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-bluetooth {
  border: 2px solid #000000;
}

.control:hover {
  opacity: 0.6;
}


.control:active {
  opacity: 0.3;
}

.control-input:disabled {
  opacity: 0.1;
}

.control-input:disabled ~ span {
  opacity: 0.1;
}

.control-input[type="radio"]:focus  + .control-mark-bluetooth{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;

}

@supports selector(:focus-visible) {

  .control-input[type="radio"]:focus + .control-mark-bluetooth {
    outline: none;
  }

  .control-input[type="radio"]:focus-visible + .control-mark-bluetooth{
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
  }
}

.price-title {
  margin: 0;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 5px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.range-toggle:active {
  border: 2px solid #000000;
  background: #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .range-toggle:focus {
    outline: none;
  }

  .range-toggle:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  margin-left: -15px;
  padding-right: 48px;
  justify-content: space-between;
  align-items:center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.catalog-filter-label span {
  font-size: 14px;
  margin-right: 3px;
}

.range-input {
  width: 15px;
  padding: 0 0;
  padding-top: 2px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: rgba(0, 0, 0, 0.3);
}



.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .range-input:focus {
    outline: none;
  }

  .range-input:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.control {
  color: #000000;
  line-height: 20px;
  padding-left: 36px;
  position: relative;
}

.control-color {
  margin-bottom: 17px;
}


.control-bluetooth {
  margin-bottom: 20px;
}

.filter-button {
  min-width: 220px;
}

.catalog-right-column {
  width: 840px;
}

.select-control {
  width: 141px;
  background-color: #F0F0F0;
  border: none;
  padding-right: 30px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 120px center;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  opacity: 1;
}

@supports selector(:focus-visible) {

  .select-control:focus {
    outline: none;
  }

  .select-control:focus-visible {
    outline: 2px solid #AF4FFF;
    opacity: 1;
  }
}

.select-control:disabled {
  opacity: 0.1;
}

.sort-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-filter {
  margin: 0;
}

.sort-order {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sort-order-link {
  display: block;
  min-width: 30px;
  min-height: 30px;
  position: relative;
}

.sort-order-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
  opacity: 0.3;
}

.sort-order-link:hover svg {
  opacity: 0.6;
}

.sort-order-link:active svg {
  opacity: 1;
}

.sort-order-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .sort-order-link:focus {
    outline: none;
  }

  .sort-order-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.products-column {
  padding: 70px 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}


.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.catalog-column {
  background-color: #FFFFFF;
}


.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.pro-selfie::before {
  content: url("../images/new-product.svg");
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 27px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-link {
  display: block;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.product-card-image {
  display: block;
  margin-bottom: 32px;
}


.product-title-wrapper {
  display: flex;
  justify-content: space-between;
}


.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.product-card-price {
  margin-left: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

.description-link-wrapper {
  background-color: rgb(94%, 94%, 94%, 0.8);
  width: 360px;
  height: 380px;
  position: absolute;
  display: none;
}

.product-description {
  display: block;
  width: 220px;
  margin-left: 70px;
  margin-top: 170px;
  background-image: url("../images/yellow-block.svg");
  background-repeat: repeat-x;
  background-position: center;
}

.product-card-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.product-card-link:hover .description-link-wrapper{
  display: block;
}

.product-card-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card-link:active .description-link-wrapper{
  display: block;
}

.product-card-link:active .product-description {
  background-image: url("../images/dark-yellow-block.svg");
  background-repeat: repeat-x;
  background-position: center;
}

.product-card-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .product-card-link:focus {
    outline: none;
  }

  .product-card-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.show-more {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 760px;
  margin-bottom: 44px;
}

.show-more:hover {
  border: 3px solid #000000;
}

.show-more:active {
  border: 3px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.show-more:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .show-more:focus {
    outline: none;
  }

  .show-more:focus-visible {
    outline: 2px solid #AF4FFF;
    outline-offset: 3px;
  }
}


.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style-type: none;
  background-color: #F0F0F0;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.pagination-link {
  display: block;
  padding: 10px 15px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 0.8;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .pagination-link:focus {
    outline: none;
  }

  .pagination-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-link-button {
  display: block;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}


.pagination-link-button:hover {
  background-color: #DCDCDC;
}


.pagination-link-button:active {
  background-color: #DCDCDC;
  color: rgba(0, 0, 0, 0.6);
}

.pagination-link-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .pagination-link-button:focus {
    outline: none;
  }

  .pagination-link-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.footer-logo-link:hover svg {
  opacity: 0.6;
}

.footer-logo-link:active svg {
  opacity: 0.3;
}

.footer-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .footer-logo-link:focus {
    outline: none;
  }

  .footer-logo-link:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.popover {
  position: absolute;
  z-index: 3;
  left: -126px;
  top: 42px;
  width: 320px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  min-height: 301px;
  display: none;
}


.popover::before {
  content: url("../images/basket-popover-decoration.svg");
  position: absolute;
  top: -14px;
  left: 152px;
}


.popover-content {
  height: 100%;
}

.basket-products-list {
  margin: 20px 20px 0 20px;
  padding: 0;
  list-style-type: none;
}

.basket-products-item {
  display: flex;
}

.basket-products-item + .basket-products-item {
  margin-top: 20px;
}

.basket-product-link {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  max-width: 260px;
}

.basket-popover-link{
  display: block;
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 14px 0;
  text-decoration: none;
}

.basket-popover-link:hover {
  background-color: #FFE17F;
}

.basket-popover-link:active {
 color:rgba(0, 0, 0, 0.6);
}

.basket-popover-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

@supports selector(:focus-visible) {

  .basket-popover-link:focus {
    outline: none;
  }

  .basket-popover-link:focus-visible {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
  }
}


.basket-product-wrapper {
  width: 280px;
  display: flex;
}

.basket-product-img {
  display: block;
  margin-right: 20px;
  padding-bottom: 20px;
}

.basket-product-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 200px;
}

.basket-product-link:hover {
  opacity: 0.6;
}

.basket-product-link:active {
  opacity: 0.3;
}

.basket-product-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

@supports selector(:focus-visible) {

  .basket-product-link:focus {
    outline: none;
  }

  .basket-product-link:focus-visible {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
  }
}

.product-delete-button {
  width: 14px;
  height: 14px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  position: relative;
}

.delete-button-icon {
  fill: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.product-delete-button:hover {
  opacity: 0.6;
}

.product-delete-button:active {
  opacity: 0.3;
}

.product-delete-button:focus {
  outline: 2px solid #AF4FFF;
}

@supports selector(:focus-visible) {

  .product-delete-button:focus {
    outline: none;
  }

  .product-delete-button:focus-visible {
    outline: 2px solid #AF4FFF;
  }
}


.basket-prise-counter {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 12px 20px;
  background-color: #1A1A1A;
}

.basket-prise-item{
  margin-right: 3px;
}

.price {
  margin-left: auto;
}
.basket-prise-description {
  margin: 0;
}
